@import "tailwindcss";

/* bg #101627 */
/* card 1e2a3a */

/* text 9e9b9d */
/* sky 500 */
/* @utility  */

body {
    background: #101627;
    color: #d6d6d6;
}

/* =========== UTILITIES=================== */
@utility text-color {
    color: #d6d6d6;
}

@utility bg-color {
    background: #101627;
}
@utility soft-bg {
    background: #1e2a3a;
}

/* ========================================================================================= */

@layer base {


    .my-grid-temp {
        grid-template-columns: calc(100% - 20rem) 20rem;
    }
}
